{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Transaction type</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{share.symbol}}</td>
                    <td>{{share.shares_number}}</td>
                    <td>{{share.bought_sold}}</td>
                    <td>{{share.price | usd}}</td>
                    <td>{{share.date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}